<h1>This is the csv map view</h1>

@{
    var rows = @ViewBag.Rows;
}

<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach(var row in rows)
    {
        <tr>
            <td>@row.CompanyName</td>
            <td>@row.FirstName</td>
            <td>@row.SecondName</td>
        </tr>
    }
</table>
