@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Organisational Structure";
}

<div class="container csv-upload">
    <div class="row header">
        <div class="col-12">
            <h1>Define your organisation</h1>
            <p>User instuctions here. Accepted file types and file size limits etc.</p>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>

