@model IEnumerable<sopman.Models.ManageViewModels.SOPOverView> 
@using HtmlHelpers.BeginCollectionItemCore
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Archive SOP";
   
}
<div class="container body-content">
    @using (Html.BeginForm()) {
        <div class="container sop-builder">
            <div class="row white-bg">
                <div class="col-12">
                    <h2>Would you like to archive this SOP?</h2>
                    <input type="submit" class="btn" value="Archive">
                </div>
            </div>
        </div>
    }
</div>

