@model IEnumerable<sopman.Models.ManageViewModels.SOPTemplateList> 
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "My Projects";
}
<div class="container people-div">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      My Projects
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item my-projects-@ViewBag.Userid" href="#fullprojlist">My Projects</a>
                      <a class="dropdown-item all-projects" href="#fullprojlist">All Projects</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 text-right">
            <a asp-controller="Manage" asp-action="CreateNewProject">Create New Project</a>
        </div>
        <div class="col-12">
            <table id="fullprojlist" class="table list-table">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Sop Instances</th>  
                        <th>Create Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody> 
                    @foreach(var item in Model){
                        <tr class="tablerow user-@item.UserId">
                            <td class="">@item.ProjectName</td>
                            <td>@item.countnum</td>
                            <td>@item.creationdate.ToString("dd MMM yyyy")</td>
                            <td><a href="/Manage/ViewProject?=@item.ProjectId">Go to project</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#fullprojlist').DataTable( {
            "order": [[ 0, "desc" ]],
            "paging": false,
            "info": false,
            "columnDefs": [
                { "orderable": false, "targets": 3 }
            ]
        });
     });
     $(document).ready(function() {
        $( ".my-projects-@ViewBag.Userid" ).click(function() {
            $.each("tr.tablerow").not("user-@ViewBag.Userid").hide();
        });
     });
</script>
